body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 60%;
    color: #1b262c;
    margin: 0;
    background-color: white;
    background-image: url('/assest/img/logo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-redondeada {
    border-radius: 50%;
    overflow: hidden;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: #0073e6; /* Azul fuerte para el título */
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(8, 22, 32, 0.9); /* Color de fondo oscuro con transparencia */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #ffffff; /* Texto blanco en el botón */
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #0073e6; /* Azul del botón */
    margin-top: 10px;
    cursor: pointer;
}

#login button:hover {
    background-color: #005bb5; /* Azul más oscuro al pasar el ratón */
    color: #ffffff;
}

.pie-form {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
    color: #ffffff; /* Texto blanco para los enlaces */
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa; /* Azul claro */
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #209ff3; /* Azul más intenso al pasar el ratón */
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
    color: #ffffff;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa; /* Azul claro */
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #209ff3; /* Azul más intenso al pasar el ratón */
}