/* Estilo general de botones */
.button-group button {
    width: 100px;
    background-color: #0E8BF1; /* Color similar al navbar */
    color: white;
    border: none;
    padding: 6px;
    margin: 4px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button-group{
    position: relative; /* El contenedor debe ser relativo */
    width: 100%;
    left: -9.5%; 
}

.button-group button:hover {
    background-color: #1d3956; /* Efecto al pasar el mouse */
}

/* Estilo para los enlaces que contienen los botones */
.button-group a {
    text-decoration: none;
}

/* Mantiene la consistencia de la fuente y el tamaño */
td, th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 16px;
    color: black;
}

input, select {
    width: 100%;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

/* Estilo de la ventana flotante (modal) */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -125px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border-radius: 5px;
}

.modalDialog:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 450px;
    position: relative;
    margin: 10% auto;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    background: linear-gradient(#fff, #999);
    transition: opacity 400ms ease-in;
}

/* Botón de cerrar la ventana modal */
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}
